<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <span class="h4 text-white mb-0">Hackathon Portal</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <span class="font-weight-bold">Hackathon Portal</span>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/landing']">Operazioni API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user-profile']">Profilo</a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-neutral btn-icon" [routerLink]="['/register']">
            <span class="btn-inner--icon">
              <i class="ni ni-single-02 mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Registrati</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
